/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/a.exe
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7c03539613d41254d510.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-07-25T17-27-59-0824.json
/cmake-build-debug/.cmake/api/v1/reply/target-lab_ShoppingList-Debug-91f1ce4b4d3c9bacd036.json
